<div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center" style="padding-top: 10px;">
        <%= @full.view %>
    </div>
</div>

<div class = "row" style="padding-top: 10px;">
    <div class="col-lg-4"></div>
    <div class="col-lg-1 text-center">
        <%= previous_year_link(:diary_cal,'PrevY',style:'color:red;',class:'nav'){true} %>
    </div>
    <div class="col-lg-1 text-center">
        <%= previous_month_link(:diary_cal,'Prev',style:'color:red;',class:'nav'){true} %>
    </div>
    <div class="col-lg-1 text-center">
        <%= next_month_link(:diary_cal,'Next',style:'color:red;',class:'nav'){true} %>
    </div>
    <div class="col-lg-1 text-center">
        <%= next_year_link(:diary_cal,'NextY',style:'color:red;',class:'nav'){true} %>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="diary-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="diary-date"></h4>
      </div>
      <div class="modal-body" id="diary-content"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>