<div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center" id="content_div">
        <%= form_for(@entry) do |f| %>
          <%= f.date_field :created_at, :value => Time.now.strftime('%Y-%m-%d') %>
          <%= f.text_area :content, :placeholder => "Start typing here...", :id => "create_entry_content" %>
          <%= link_to "Cancel", '/entries' %>
          <%= f.submit "Save", class: "btn-primary" %>
        <% end %>
    </div>
</div>

<script>
  CKEDITOR.replace('create_entry_content');
</script>