 <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center" id="content_div">
        <% if @entries.empty? %>
            <h1>No Entries Found!</h1>
        <% else %>
            <% @entries.each do |entry| %>
                <div class="search-result border border-primary" 
                    onclick="onSearchResultClick('<%= entry.created_at.to_date %>', '<%= entry.id %>')">
                    <div class="created-at"><%= entry.created_at.to_date %></div>
                    <div class="content"><%= entry.content %></div>
                </div>
                <br>
            <%end %>
            <%= will_paginate @entries %>
        <% end %>
    </div>

    <div class="modal fade" id="diary-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="diary-date"></h3>
                </div>
                <div class="modal-body">
                    <p id="diary-content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="edit-btn">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>