 <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center" id="content_div">
        <% if @entries.empty? %>
            <h1>No Entries Found!</h1>
        <% else %>
            <% @entries.each do |entry| %>
                <div class="search-result"
                     onclick="onSearchResultClick(<%= entry.to_json %>)">
                    <div class="created-at"><%= entry.created_at.strftime("%a, %d %b %Y") %></div>
                    <div class="content"><%= entry.content %></div>
                </div>
                <br>
            <%end %>
            <%= will_paginate @entries %>
        <% end %>
        <br>
        <%= link_to "Back to Home", entries_path %>
    </div>
</div>