<div class="login">
  <div class="form">

    <h1>Change Password</h1>

    <%= form_for(@user, url: :update_account) do |f| %>
        <%= f.password_field :old_password, :placeholder => "Old Password", required: true %>
        <%= f.password_field :password, :placeholder => "New Password (at least 8 characters)",required: true %>
        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", required: true %>
        <%= f.submit "Update", class: "btn-primary" %>
    <% end %>
    </br>
    <button class="btn-submit" data-toggle="modal" data-target="#account-warning-modal">DELETE ACCOUNT</button>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="account-warning-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Delete this account?</h3>
      </div>
      <div class="modal-body">
        <p>If you choose to delete this account, all your diary entries will be deleted as well. Are you sure?</p>
      </div>
      <div class="modal-footer">
        <%= form_for(@user, method: :delete) do |f| %>
            <!-- Put javscript:; to make it a no-op anchor tag -->
            <%= link_to 'Cancel', 'javascript:;', 'data-dismiss': 'modal' %>
            <%= f.submit 'Delete', class: 'btn-submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>