<div class="login">
  <div class="form">

    <h1>Sign up</h1>

    <%= form_for(@user) do |f| %>
      <%= f.text_field :first_name, :placeholder => "First name" %>
      <%= f.text_field :last_name, :placeholder => "Last name" %>
      <%= f.text_field :user_name, :placeholder => "Username" %>
      <%= f.password_field :password, :placeholder => "Password (at least 8 characters)" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
      <%= f.submit "Create an account", class: "btn-submit" %>
    <% end %>
    
    <p>Existing user? <%= link_to "Login here", login_path%></p>

  </div>
</div>