<!DOCTYPE html>
<html>
<head>
  <title>Deer Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'notebook.png'%>
  <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65378820-2', 'auto');
    ga('send', 'pageview');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="background-image"></div>
  <div class="header">
    <div class="container">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'notebook.png' %>
          <span id="header-title">Deer Diary</span>
        <% end %>
      </div>

      <% if not current_user  %>
        <div class="center_logo">
          <%= link_to root_path do %>
            <%= image_tag 'notebook.png' %>
            <span id="header-title">Deer Diary</span>
          <% end %>
        </div>
      <% end %>

      <div class="center">
        <% if current_user and (current_page?(root_path) or current_page?(entries_path) or current_page?(entries_search_path)) %>
          <%= form_tag(entries_search_path, :method => "get") do %>  
            <div class="search-box input-group">
              <%= search_field_tag :query, params[:query], placeholder: "Search", class: "form-control search-field"%>
              <div class="input-group-btn search-group-btn">
                <button class="btn search-btn">
                  <i class="fa fa-search" style="color:#FFFFFF"></i>
                </button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="pull-right">
        <% if current_user %>
        <ul>
          <li>
            <div class="dropdown">
              <button class="drop-btn"><%= current_user.first_name %> <%= current_user.last_name %> &#9660</button>
              <div class="dropdown-content">
                <%= link_to "
                  <div class='dropdown-row'>
                    <div><i class='fa fa-book'></i></div>
                    <div>Entries</div>
                  </div>".html_safe, entries_path %>
                <%= link_to "
                  <div class='dropdown-row'>
                    <div><i class='fa fa-user'></i></div>
                    <div>Profile</div>
                  </div>".html_safe, profile_path %>
                <%= link_to "
                  <div class='dropdown-row'>
                    <div><i class='fa fa-cog'></i></div>
                    <div>Account</div>
                  </div>".html_safe, account_path %>
                <%= link_to "
                  <div class='dropdown-row'>
                    <div><i class='fa fa-sign-out'></i></div>
                    <div>Log out</div>
                  </div>".html_safe, logout_path, method: "delete" %>
              </div>
            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flash-message-wrapper">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, class: "alert alert-#{message_type}", style: "position:relative;" do -%>
      <%= message %>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% end -%>
    <% end %>
  </div>

  <%= yield %>

  <% if current_user  %>
    <div class="action-bar">
      <div class="action-container">
        <% if current_page?(root_path) or current_page?(entries_path) %>
          <%= link_to "<div><i class='fa fa-plus'></i></div>".html_safe, new_entry_path, {:class => "btn-submit"} %>
        <% end %>
        <%= link_to "<div><i class='fa fa-book'></i></div>".html_safe, entries_path, {:class => "btn-submit"} %>
        <%= link_to "<div><i class='fa fa-user'></i></div>".html_safe, profile_path, {:class => "btn-submit"} %>
        <%= link_to "<div><i class='fa fa-cog'></i></div>".html_safe, account_path, {:class => "btn-submit"} %>
        <%= link_to "<div><i class='fa fa-sign-out'></i></div>".html_safe, logout_path, {:class => "btn-submit", :method => :delete} %>
      </div>
    </div>
  <% end %>

  <!-- Modal -->
  <div class="modal fade" id="diary-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="diary-date"></h3>
        </div>
        <div class="modal-body">
          <p id="diary-content"></p>
          <div class="spinner">
            <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="edit-btn">Edit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <% if not current_user %>
    <footer>
      <div class="footer">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <p class="text-muted">Created by <%= link_to "Andy Tran"," http://www.tranandy.com", :target => "_blank" %>, the only allowed user of this site.</p>
          </div>
        </div>
      </div>
    </footer>
  <% end %>
</body>
</html>
