<!DOCTYPE html>
<html>
<head>
  <title>Dear Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background-image"></div>
  <div class="header">
    <div class="container">
      <%= link_to root_path do %>
        <img src="http://s3.amazonaws.com/codecademy-content/courses/rails-auth/img/fotofoto-logo.svg" width="80" height="80"> Dear Diary
      <% end %>

      <div class="nav pull-right">
        <% if current_user %> 
        <ul> 
          <li><%= current_user.first_name %> <%= current_user.last_name %></li> 
          <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
        </ul> 
        <% end %>
      </div>
    </div>
  </div>
  
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, class: "alert alert-#{message_type}", style: "position:relative;" do -%>
    <%= message %>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <% end -%>
  <% end %>

  <%= yield %>

  <!-- Footer -->
  <footer>
    <div class="footer">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <p class="text-muted">Designed and implemented by <%= link_to "Andy Tran"," http://www.tranandy.com" %></p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
