<!DOCTYPE html>
<html>
<head>
  <title>Dear Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background-image"></div>
  <div class="header">
    <div class="container">
      <%= link_to root_path do %>
        <img src="http://s3.amazonaws.com/codecademy-content/courses/rails-auth/img/fotofoto-logo.svg" width="80" height="80"> Dear Diary
      <% end %>

      <div class="nav pull-right">
        <% if current_user %> 
        <ul> 
          <li>
            <div class="dropdown">
              <button class="dropbtn"><%= current_user.first_name %> <%= current_user.last_name %> &#9660</button>
              <div class="dropdown-content">
                <a href="#"><%= fa_icon 'cog' %> Settings</a>
                <%= link_to "<i class='fa fa-sign-out'></i> Log out".html_safe, logout_path, method: "delete" %>
              </div>
            </div>
          </li>
        </ul> 
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="flash-message-wrapper">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, class: "alert alert-#{message_type}", style: "position:relative;" do -%>
      <%= message %>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% end -%>
    <% end %>
  </div>
  
  <!--This is for making enough space between flash message and contents below it-->
  <div class="row">
    <div class="col-lg-12" style="padding-top: 10px;"></div>
  </div>

  <%= yield %>

  <!-- Footer -->
  <footer>
    <div class="footer">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <p class="text-muted">Created by <%= link_to "Andy Tran"," http://www.tranandy.com" %></p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
